<?xml version="1.0"?>

<packages>
	<package name="package1">
		<class name="class1">
			<agregation>
				<type></type>
				<type></type>
				<type></type>
			</agregation>
			<extention>
				<type></type>
				<type></type>
			</extention>
			<utilisation>
				<type></type>
				<type></type>
			</utilisation>
		</class>
		<class name="class2">
			<agregation>
				<type></type>
				<type></type>
				<type></type>
			</agregation>
			<extention>
				<type></type>
				<type></type>
			</extention>
			<utilisation>
				<type></type>
				<type></type>
			</utilisation>
		</class>
	</package>
	<package name="package2">
		<class name="class1">
			<agregation>
				<type></type>
				<type></type>
				<type></type>
			</agregation>
			<extention>
				<type></type>
				<type></type>
			</extention>
			<utilisation>
				<type></type>
				<type></type>
			</utilisation>
		</class>
		<class name="class2">
			<agregation>
				<type></type>
				<type></type>
				<type></type>
			</agregation>
			<extention>
				<type></type>
				<type></type>
			</extention>
			<utilisation>
				<type></type>
				<type></type>
			</utilisation>
		</class>
	</package>
</packages>